airflow-clickhouse-plugin
apache-airflow-providers-apache-spark
apache-airflow-providers-sqlite
cartopy
clickhouse-driver
colorcet
datashader
httpx
matplotlib
numpy
pandas
pyspark==3.5.6
retryhttp
xarray
